{{ partial "header.html" . }}

<section class="container contact">
    {{ .Content }}

    <form class="form" method="POST" action="https://formspree.io/f/mgvwlbrb">
        <div class="form__section">
            <label for="name" class="form__section__label">Naam:</label>
            <div class="form__section__input">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input id="name" name="name" placeholder="Please enter your name" type="text" required="required" class="form__section__input__area">
                </div>
            </div>
        </div>
        <div class="form__section">
            <label for="email" class="form__section__label">E-mail:</label>
            <div class="form__section__input">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input id="email" name="email" placeholder="Your e-mail address" type="text" required="required" class="form__section__input__area">
                </div>
            </div>
        </div>
        <div class="form__section">
            <label for="message" class="form__section__label">Bericht:</label>
            <div class="form__section__input">
                <textarea id="message" name="message" cols="40" rows="10" required="required" class="form__section__input__area"></textarea>
            </div>
        </div>
        <div class="form__section">
            <button name="submit" type="submit" class="form__section__button">Verstuur</button>
        </div>
        <div class="form__section__info">
            <p><small>(Maakt gebruik van Formspree</a>)</small></p>
        </div>
    </form>
</section>

{{ partial "footer.html" . }}