@use '../util' as *;

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0;

    @include breakpoint(large) {
        flex-wrap: nowrap;
    }
}

.column {
    padding: rem(10);
    min-width: rem(300);
}