@use '../util' as *;

.columns-3 {
    display: grid;
	grid-template-areas: 
	"header header header"
	"banner banner banner"
	"main   main   main"
	"footer footer footer";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: rem(80) auto 1fr;
	height: 100%;
}