@use '../util' as *;

header {

}

nav {
    ul, li {
        display: inline;
    }

    li {
    }

    a {
        font-size: 1em;
        color: var(--light-bg);
        display: inline-block;
        width: 100%;
    }

    li a:hover, li a:focus {
        color: var(--light-text-accent);
        text-decoration: none;
    }
}

.nav {
    background: var(--light-bg-accent);
    width: 100%;
    text-align: left;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 10px;

    &__logo {

        img {
            top: rem(-0);
            position: absolute;
            max-width: inherit;
            max-height: rem(80);
            
            @include breakpoint(medium) {
                max-height: rem(120);
            }
        }

    }

    &__menu {
        display: grid;
        grid-gap: 0;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        justify-items: stretch;
        margin: rem(2) rem(2) rem(2) rem(2);

        @include breakpoint(medium) {
            grid-template-rows: auto;
            grid-template-columns: repeat(6, auto);
        }

        li a {
            padding-left: rem(10); //padding around submenu (top, right, bot, left)
        }
    }

    &__dropdown {
        position: relative;
        cursor: pointer;
        // overflow: hidden;
    }

    &__submenu {


        @include breakpoint(medium) {
            position: absolute;
            z-index: 1000;
            left: rem(0);
            margin-top: rem(-3);
        }
    }

    &__submenu > ul {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        list-style: none;
        background: var(--light-bg-accent);
        max-width: rem(300);
        min-width: rem(250);
        text-wrap: nowrap;
        padding: rem(15) rem(10) rem(0) rem(0); //padding around submenu (top, right, bot, left)

        

        > li {
            a {
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                display: inline-block;
                width: 100%;
                padding-bottom: rem(10);
            }
        }
    }
}

/* Screen reader text */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover, .screen-reader-text:active, screen-reader-text:focus {
    background-color: #c7c6c6;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
    clip: auto !important;
    color: #0a153f;
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}